ProjectWSDL/InventorySystemBackendMarksTonyModify/ntu/csie/selab/inventorysystem/repository/ItemConditionRepository.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ntu_csie_selab_inventorysystem_repository_ItemConditionRepository="http://140.112.90.144:7122/InventorySystemBackendMarksTonyModify/ntu/csie/selab/inventorysystem/repository/ItemConditionRepository" xmlns:org_springframework_data_repository_CrudRepository="http://140.112.90.144:7122/org/springframework/data/repository/CrudRepository" xmlns:selfNameSpace="http://140.112.90.144:7122/InventorySystemBackendMarksTonyModify/ntu/csie/selab/inventorysystem/repository/ItemConditionRepository" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://140.112.90.144:7122/InventorySystemBackendMarksTonyModify/ntu/csie/selab/inventorysystem/repository/ItemConditionRepository">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" type="class">
      <xsd:element name="ntu_csie_selab_inventorysystem_repository_ItemConditionRepository">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="parents">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="org_springframework_data_repository_CrudRepository" type="org_springframework_data_repository_CrudRepository:org_springframework_data_repository_CrudRepository"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Request">
    <wsdl:part element="ntu_csie_selab_inventorysystem_repository_ItemConditionRepository:ntu_csie_selab_inventorysystem_repository_ItemConditionRepository" name="self" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="Response">
    <wsdl:part name="standardOutput" type="xsd:string" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="Port">
    <wsdl:operation name="">
      <wsdl:output message="selfNameSpace:Response" name="out"/>
      <wsdl:input message="selfNameSpace:Request" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service">
    <wsdlrestful:address method="get" url="http://140.112.90.144:7122/InventorySystemBackendMarksTonyModify/ntu/csie/selab/inventorysystem/repository/ItemConditionRepository"/>
  </wsdl:service>
  <wsdl:import location="http://140.112.90.144/wsdl/org/springframework/data/repository/CrudRepository.wsdl" namespace="http://140.112.90.144:7122/org/springframework/data/repository/CrudRepository"/>
</wsdl:definitions>
