testdata/demo/applyDefault.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="applyDefaultRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="string1" type="xsd:String"/>
            <xsd:element name="string2" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="applyDefaultResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="applyDefaultRequest">
    <wsdl:part element="impl:applyDefaultRequest" name="applyDefaultRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="applyDefaultResponse">
    <wsdl:part element="impl:applyDefaultResponse" name="applyDefaultResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="applyDefaultPort">
    <wsdl:operation name="applyDefault">
      <wsdl:output message="impl:applyDefaultResponse" name="out"/>
      <wsdl:input message="impl:applyDefaultRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="applyDefaultService">
    <wsdlrestful:address method="get" url="http://localhost:8090"/>
  </wsdl:service>
</wsdl:definitions>
