testdata/demo/createFromImage.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_client_render/ColorPalette/org_craft_client_render_ColorPalette_createFromImage" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_client_render/ColorPalette/org_craft_client_render_ColorPalette_createFromImage">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="createFromImageRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bufferedimage2_int0" type="xsd:int"/>
            <xsd:element name="bufferedimage2_int1" type="xsd:int"/>
            <xsd:element name="bufferedimage2_int2" type="xsd:int"/>
            <xsd:element name="string0" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createFromImageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getName" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createFromImageRequest">
    <wsdl:part element="impl:createFromImageRequest" name="createFromImageRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="createFromImageResponse">
    <wsdl:part element="impl:createFromImageResponse" name="createFromImageResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="createFromImagePort">
    <wsdl:operation name="createFromImage">
      <wsdl:output message="impl:createFromImageResponse" name="out"/>
      <wsdl:input message="impl:createFromImageRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="createFromImageService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_client_render/ColorPalette/org_craft_client_render_ColorPalette_createFromImage"/>
  </wsdl:service>
</wsdl:definitions>
