testdata/demo/createTag.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/com_mojang_nbt/NBTTag/com_mojang_nbt_NBTTag_createTag" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/com_mojang_nbt/NBTTag/com_mojang_nbt_NBTTag_createTag">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="createTagResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getName" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createTagRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nbttypes1_byte0" type="xsd:byte"/>
            <xsd:element name="string0" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createTagRequest">
    <wsdl:part element="impl:createTagRequest" name="createTagRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="createTagResponse">
    <wsdl:part element="impl:createTagResponse" name="createTagResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="createTagPort">
    <wsdl:operation name="createTag">
      <wsdl:output message="impl:createTagResponse" name="out"/>
      <wsdl:input message="impl:createTagRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="createTagService">
    <wsdlrestful:address method="get" url="http://localhost:8090/com_mojang_nbt/NBTTag/com_mojang_nbt_NBTTag_createTag"/>
  </wsdl:service>
</wsdl:definitions>
