testdata/demo/createColoredRect.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_client_render_texture/Texture/org_craft_client_render_texture_Texture_createColoredRect" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_client_render_texture/Texture/org_craft_client_render_texture_Texture_createColoredRect">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="createColoredRectRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="int0" type="xsd:int"/>
            <xsd:element name="int2" type="xsd:int"/>
            <xsd:element name="int1" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createColoredRectResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getHeight" type="xsd:int"/>
            <xsd:element name="getTextureID" type="xsd:int"/>
            <xsd:element name="getWidth" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createColoredRectRequest">
    <wsdl:part element="impl:createColoredRectRequest" name="createColoredRectRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="createColoredRectResponse">
    <wsdl:part element="impl:createColoredRectResponse" name="createColoredRectResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="createColoredRectPort">
    <wsdl:operation name="createColoredRect">
      <wsdl:output message="impl:createColoredRectResponse" name="out"/>
      <wsdl:input message="impl:createColoredRectRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="createColoredRectService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_client_render_texture/Texture/org_craft_client_render_texture_Texture_createColoredRect"/>
  </wsdl:service>
</wsdl:definitions>
