testdata/demo/createCorrectedFileName.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_utils/StringUtils/org_craft_utils_StringUtils_createCorrectedFileName" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_utils/StringUtils/org_craft_utils_StringUtils_createCorrectedFileName">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="createCorrectedFileNameResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return_string0" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createCorrectedFileNameRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="string0" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createCorrectedFileNameRequest">
    <wsdl:part element="impl:createCorrectedFileNameRequest" name="createCorrectedFileNameRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="createCorrectedFileNameResponse">
    <wsdl:part element="impl:createCorrectedFileNameResponse" name="createCorrectedFileNameResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="createCorrectedFileNamePort">
    <wsdl:operation name="createCorrectedFileName">
      <wsdl:output message="impl:createCorrectedFileNameResponse" name="out"/>
      <wsdl:input message="impl:createCorrectedFileNameRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="createCorrectedFileNameService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_utils/StringUtils/org_craft_utils_StringUtils_createCorrectedFileName"/>
  </wsdl:service>
</wsdl:definitions>
