testdata/demo/decodeTGA.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="decodeTGARequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="byte[]0" type="xsd:byte[]"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="decodeTGAResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getType" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="decodeTGARequest">
    <wsdl:part element="impl:decodeTGARequest" name="decodeTGARequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="decodeTGAResponse">
    <wsdl:part element="impl:decodeTGAResponse" name="decodeTGAResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="decodeTGAPort">
    <wsdl:operation name="decodeTGA">
      <wsdl:output message="impl:decodeTGAResponse" name="out"/>
      <wsdl:input message="impl:decodeTGARequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="decodeTGAService">
    <wsdlrestful:address method="get" url="http://localhost:8090"/>
  </wsdl:service>
</wsdl:definitions>
