testdata/demo/drawBezierCurve.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="drawBezierCurveRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="file1_string0" type="xsd:String"/>
            <xsd:element name="url1_string1" type="xsd:String"/>
            <xsd:element name="url1_string0" type="xsd:String"/>
            <xsd:element name="int2" type="xsd:int"/>
            <xsd:element name="int1" type="xsd:int"/>
            <xsd:element name="float3" type="xsd:float"/>
            <xsd:element name="url1_string3" type="xsd:String"/>
            <xsd:element name="resourcelocation0_string0" type="xsd:String"/>
            <xsd:element name="url1_int2" type="xsd:int"/>
            <xsd:element name="virtualresource2_string0" type="xsd:String"/>
            <xsd:element name="virtualresource2_byte[]1" type="xsd:byte[]"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="drawBezierCurveResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="drawBezierCurveRequest">
    <wsdl:part element="impl:drawBezierCurveRequest" name="drawBezierCurveRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="drawBezierCurveResponse">
    <wsdl:part element="impl:drawBezierCurveResponse" name="drawBezierCurveResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="drawBezierCurvePort">
    <wsdl:operation name="drawBezierCurve">
      <wsdl:output message="impl:drawBezierCurveResponse" name="out"/>
      <wsdl:input message="impl:drawBezierCurveRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="drawBezierCurveService">
    <wsdlrestful:address method="get" url="http://localhost:8090"/>
  </wsdl:service>
</wsdl:definitions>
