testdata/demo/format.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_client/I18n/org_craft_client_I18n_format" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_client/I18n/org_craft_client_I18n_format">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="formatResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return_string0" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="formatRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="string1" type="xsd:String"/>
            <xsd:element name="string0" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="formatRequest">
    <wsdl:part element="impl:formatRequest" name="formatRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="formatResponse">
    <wsdl:part element="impl:formatResponse" name="formatResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="formatPort">
    <wsdl:operation name="format">
      <wsdl:output message="impl:formatResponse" name="out"/>
      <wsdl:input message="impl:formatRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="formatService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_client/I18n/org_craft_client_I18n_format"/>
  </wsdl:service>
</wsdl:definitions>
