testdata/demo/fromPowerValue.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_blocks_states/EnumPowerStates/org_craft_blocks_states_EnumPowerStates_fromPowerValue" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_blocks_states/EnumPowerStates/org_craft_blocks_states_EnumPowerStates_fromPowerValue">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="fromPowerValueResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="toString" type="xsd:String"/>
            <xsd:element name="powerValue" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fromPowerValueRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="int0" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="fromPowerValueRequest">
    <wsdl:part element="impl:fromPowerValueRequest" name="fromPowerValueRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="fromPowerValueResponse">
    <wsdl:part element="impl:fromPowerValueResponse" name="fromPowerValueResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="fromPowerValuePort">
    <wsdl:operation name="fromPowerValue">
      <wsdl:output message="impl:fromPowerValueResponse" name="out"/>
      <wsdl:input message="impl:fromPowerValueRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="fromPowerValueService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_blocks_states/EnumPowerStates/org_craft_blocks_states_EnumPowerStates_fromPowerValue"/>
  </wsdl:service>
</wsdl:definitions>
