testdata/demo/fromString.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_utils/EnumSide/org_craft_utils_EnumSide_fromString" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_utils/EnumSide/org_craft_utils_EnumSide_fromString">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="fromStringResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getTranslationX" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fromStringRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="string0" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="fromStringRequest">
    <wsdl:part element="impl:fromStringRequest" name="fromStringRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="fromStringResponse">
    <wsdl:part element="impl:fromStringResponse" name="fromStringResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="fromStringPort">
    <wsdl:operation name="fromString">
      <wsdl:output message="impl:fromStringResponse" name="out"/>
      <wsdl:input message="impl:fromStringRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="fromStringService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_utils/EnumSide/org_craft_utils_EnumSide_fromString"/>
  </wsdl:service>
</wsdl:definitions>
