testdata/demo/fromID.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_sound/EnumSoundFormats/org_craft_sound_EnumSoundFormats_fromID" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_sound/EnumSoundFormats/org_craft_sound_EnumSoundFormats_fromID">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="fromIDRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="string0" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fromIDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="fromIDRequest">
    <wsdl:part element="impl:fromIDRequest" name="fromIDRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="fromIDResponse">
    <wsdl:part element="impl:fromIDResponse" name="fromIDResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="fromIDPort">
    <wsdl:operation name="fromID">
      <wsdl:output message="impl:fromIDResponse" name="out"/>
      <wsdl:input message="impl:fromIDRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="fromIDService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_sound/EnumSoundFormats/org_craft_sound_EnumSoundFormats_fromID"/>
  </wsdl:service>
</wsdl:definitions>
