testdata/demo/getAnnotation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="getAnnotationResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAnnotationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fieldnode0_int0" type="xsd:int"/>
            <xsd:element name="fieldnode0_string2" type="xsd:String"/>
            <xsd:element name="fieldnode0_string3" type="xsd:String"/>
            <xsd:element name="fieldnode0_string1" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAnnotationRequest">
    <wsdl:part element="impl:getAnnotationRequest" name="getAnnotationRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="getAnnotationResponse">
    <wsdl:part element="impl:getAnnotationResponse" name="getAnnotationResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="getAnnotationPort">
    <wsdl:operation name="getAnnotation">
      <wsdl:output message="impl:getAnnotationResponse" name="out"/>
      <wsdl:input message="impl:getAnnotationRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="getAnnotationService">
    <wsdlrestful:address method="get" url="http://localhost:8090"/>
  </wsdl:service>
</wsdl:definitions>
