testdata/demo/getByID.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_world_biomes/Biomes/org_craft_world_biomes_Biomes_getByID" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_world_biomes/Biomes/org_craft_world_biomes_Biomes_getByID">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="getByIDRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="short0" type="xsd:short"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getByIDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getID" type="xsd:String"/>
            <xsd:element name="getTemperature" type="xsd:float"/>
            <xsd:element name="getUniqueID" type="xsd:short"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getByIDRequest">
    <wsdl:part element="impl:getByIDRequest" name="getByIDRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="getByIDResponse">
    <wsdl:part element="impl:getByIDResponse" name="getByIDResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="getByIDPort">
    <wsdl:operation name="getByID">
      <wsdl:output message="impl:getByIDResponse" name="out"/>
      <wsdl:input message="impl:getByIDRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="getByIDService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_world_biomes/Biomes/org_craft_world_biomes_Biomes_getByID"/>
  </wsdl:service>
</wsdl:definitions>
