testdata/demo/getClosestFromNoise.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_world_biomes/Biomes/org_craft_world_biomes_Biomes_getClosestFromNoise" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_world_biomes/Biomes/org_craft_world_biomes_Biomes_getClosestFromNoise">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="getClosestFromNoiseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getID" type="xsd:String"/>
            <xsd:element name="getTemperature" type="xsd:float"/>
            <xsd:element name="getUniqueID" type="xsd:short"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getClosestFromNoiseRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="float0" type="xsd:float"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getClosestFromNoiseRequest">
    <wsdl:part element="impl:getClosestFromNoiseRequest" name="getClosestFromNoiseRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="getClosestFromNoiseResponse">
    <wsdl:part element="impl:getClosestFromNoiseResponse" name="getClosestFromNoiseResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="getClosestFromNoisePort">
    <wsdl:operation name="getClosestFromNoise">
      <wsdl:output message="impl:getClosestFromNoiseResponse" name="out"/>
      <wsdl:input message="impl:getClosestFromNoiseRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="getClosestFromNoiseService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_world_biomes/Biomes/org_craft_world_biomes_Biomes_getClosestFromNoise"/>
  </wsdl:service>
</wsdl:definitions>
