testdata/demo/getCapName.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_client/OpenGLHelper/org_craft_client_OpenGLHelper_getCapName" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_client/OpenGLHelper/org_craft_client_OpenGLHelper_getCapName">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="getCapNameRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="int0" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCapNameResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return_string0" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCapNameRequest">
    <wsdl:part element="impl:getCapNameRequest" name="getCapNameRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="getCapNameResponse">
    <wsdl:part element="impl:getCapNameResponse" name="getCapNameResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="getCapNamePort">
    <wsdl:operation name="getCapName">
      <wsdl:output message="impl:getCapNameResponse" name="out"/>
      <wsdl:input message="impl:getCapNameRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="getCapNameService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_client/OpenGLHelper/org_craft_client_OpenGLHelper_getCapName"/>
  </wsdl:service>
</wsdl:definitions>
