testdata/demo/getFromClasspath.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_utils/ImageUtils/org_craft_utils_ImageUtils_getFromClasspath" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_utils/ImageUtils/org_craft_utils_ImageUtils_getFromClasspath">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="getFromClasspathRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="string0" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getFromClasspathResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getType" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getFromClasspathRequest">
    <wsdl:part element="impl:getFromClasspathRequest" name="getFromClasspathRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="getFromClasspathResponse">
    <wsdl:part element="impl:getFromClasspathResponse" name="getFromClasspathResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="getFromClasspathPort">
    <wsdl:operation name="getFromClasspath">
      <wsdl:output message="impl:getFromClasspathResponse" name="out"/>
      <wsdl:input message="impl:getFromClasspathRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="getFromClasspathService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_utils/ImageUtils/org_craft_utils_ImageUtils_getFromClasspath"/>
  </wsdl:service>
</wsdl:definitions>
