testdata/demo/getFirst.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_sound/AudioRegistry/org_craft_sound_AudioRegistry_getFirst" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_sound/AudioRegistry/org_craft_sound_AudioRegistry_getFirst">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="getFirstResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getFileIdentifier" type="xsd:String"/>
            <xsd:element name="getID" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getFirstRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="string0" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getFirstRequest">
    <wsdl:part element="impl:getFirstRequest" name="getFirstRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="getFirstResponse">
    <wsdl:part element="impl:getFirstResponse" name="getFirstResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="getFirstPort">
    <wsdl:operation name="getFirst">
      <wsdl:output message="impl:getFirstResponse" name="out"/>
      <wsdl:input message="impl:getFirstRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="getFirstService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_sound/AudioRegistry/org_craft_sound_AudioRegistry_getFirst"/>
  </wsdl:service>
</wsdl:definitions>
