testdata/demo/getOurCraft.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_client/OurCraft/org_craft_client_OurCraft_getOurCraft" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_client/OurCraft/org_craft_client_OurCraft_getOurCraft">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="getOurCraftResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="isRunning" type="xsd:boolean"/>
            <xsd:element name="getClientUsername" type="xsd:String"/>
            <xsd:element name="getDisplayWidth" type="xsd:int"/>
            <xsd:element name="getDisplayHeight" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getOurCraftRequest">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getOurCraftRequest">
    <wsdl:part element="impl:getOurCraftRequest" name="getOurCraftRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="getOurCraftResponse">
    <wsdl:part element="impl:getOurCraftResponse" name="getOurCraftResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="getOurCraftPort">
    <wsdl:operation name="getOurCraft">
      <wsdl:output message="impl:getOurCraftResponse" name="out"/>
      <wsdl:input message="impl:getOurCraftRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="getOurCraftService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_client/OurCraft/org_craft_client_OurCraft_getOurCraft"/>
  </wsdl:service>
</wsdl:definitions>
