testdata/demo/getPixels.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="getPixelsRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bufferedimage0_int1" type="xsd:int"/>
            <xsd:element name="bufferedimage0_int0" type="xsd:int"/>
            <xsd:element name="bufferedimage0_int2" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPixelsResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getPixelsRequest">
    <wsdl:part element="impl:getPixelsRequest" name="getPixelsRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="getPixelsResponse">
    <wsdl:part element="impl:getPixelsResponse" name="getPixelsResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="getPixelsPort">
    <wsdl:operation name="getPixels">
      <wsdl:output message="impl:getPixelsResponse" name="out"/>
      <wsdl:input message="impl:getPixelsRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="getPixelsService">
    <wsdlrestful:address method="get" url="http://localhost:8090"/>
  </wsdl:service>
</wsdl:definitions>
