testdata/demo/getRandom.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_sound/AudioRegistry/org_craft_sound_AudioRegistry_getRandom" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_sound/AudioRegistry/org_craft_sound_AudioRegistry_getRandom">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="getRandomResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getFileIdentifier" type="xsd:String"/>
            <xsd:element name="getID" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRandomRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="string0" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getRandomRequest">
    <wsdl:part element="impl:getRandomRequest" name="getRandomRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="getRandomResponse">
    <wsdl:part element="impl:getRandomResponse" name="getRandomResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="getRandomPort">
    <wsdl:operation name="getRandom">
      <wsdl:output message="impl:getRandomResponse" name="out"/>
      <wsdl:input message="impl:getRandomRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="getRandomService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_sound/AudioRegistry/org_craft_sound_AudioRegistry_getRandom"/>
  </wsdl:service>
</wsdl:definitions>
