testdata/demo/getValue.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="getValueRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="baseblockstate0_string0" type="xsd:String"/>
            <xsd:element name="string1" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getValueResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getValueRequest">
    <wsdl:part element="impl:getValueRequest" name="getValueRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="getValueResponse">
    <wsdl:part element="impl:getValueResponse" name="getValueResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="getValuePort">
    <wsdl:operation name="getValue">
      <wsdl:output message="impl:getValueResponse" name="out"/>
      <wsdl:input message="impl:getValueRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="getValueService">
    <wsdlrestful:address method="get" url="http://localhost:8090"/>
  </wsdl:service>
</wsdl:definitions>
