testdata/demo/hasFlag.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_utils_asm/ASMUtils/org_craft_utils_asm_ASMUtils_hasFlag" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_utils_asm/ASMUtils/org_craft_utils_asm_ASMUtils_hasFlag">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="hasFlagResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return_boolean0" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hasFlagRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="int0" type="xsd:int"/>
            <xsd:element name="int1" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hasFlagRequest">
    <wsdl:part element="impl:hasFlagRequest" name="hasFlagRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="hasFlagResponse">
    <wsdl:part element="impl:hasFlagResponse" name="hasFlagResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="hasFlagPort">
    <wsdl:operation name="hasFlag">
      <wsdl:output message="impl:hasFlagResponse" name="out"/>
      <wsdl:input message="impl:hasFlagRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="hasFlagService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_utils_asm/ASMUtils/org_craft_utils_asm_ASMUtils_hasFlag"/>
  </wsdl:service>
</wsdl:definitions>
