testdata/demo/isLetter.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_client_gui_widgets/GuiTextField/org_craft_client_gui_widgets_GuiTextField_isLetter" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_client_gui_widgets/GuiTextField/org_craft_client_gui_widgets_GuiTextField_isLetter">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="isLetterResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return_boolean0" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="isLetterRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="char0" type="xsd:char"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="isLetterRequest">
    <wsdl:part element="impl:isLetterRequest" name="isLetterRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="isLetterResponse">
    <wsdl:part element="impl:isLetterResponse" name="isLetterResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="isLetterPort">
    <wsdl:operation name="isLetter">
      <wsdl:output message="impl:isLetterResponse" name="out"/>
      <wsdl:input message="impl:isLetterRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="isLetterService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_client_gui_widgets/GuiTextField/org_craft_client_gui_widgets_GuiTextField_isLetter"/>
  </wsdl:service>
</wsdl:definitions>
