testdata/demo/loadTexture.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="loadTextureResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getHeight" type="xsd:int"/>
            <xsd:element name="getTextureID" type="xsd:int"/>
            <xsd:element name="getWidth" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="loadTextureRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="file1_string0" type="xsd:String"/>
            <xsd:element name="url1_string1" type="xsd:String"/>
            <xsd:element name="url1_string0" type="xsd:String"/>
            <xsd:element name="url1_string3" type="xsd:String"/>
            <xsd:element name="resourcelocation0_string0" type="xsd:String"/>
            <xsd:element name="url1_int2" type="xsd:int"/>
            <xsd:element name="virtualresource1_string0" type="xsd:String"/>
            <xsd:element name="virtualresource1_byte[]1" type="xsd:byte[]"/>
            <xsd:element name="virtualresource2_string0" type="xsd:String"/>
            <xsd:element name="virtualresource2_byte[]1" type="xsd:byte[]"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="loadTextureRequest">
    <wsdl:part element="impl:loadTextureRequest" name="loadTextureRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="loadTextureResponse">
    <wsdl:part element="impl:loadTextureResponse" name="loadTextureResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="loadTexturePort">
    <wsdl:operation name="loadTexture">
      <wsdl:output message="impl:loadTextureResponse" name="out"/>
      <wsdl:input message="impl:loadTextureRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="loadTextureService">
    <wsdlrestful:address method="get" url="http://localhost:8090"/>
  </wsdl:service>
</wsdl:definitions>
