testdata/demo/loadImage.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="loadImageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getType" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="loadImageRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="file1_string0" type="xsd:String"/>
            <xsd:element name="url1_string1" type="xsd:String"/>
            <xsd:element name="url1_string0" type="xsd:String"/>
            <xsd:element name="url1_string3" type="xsd:String"/>
            <xsd:element name="resourcelocation0_string0" type="xsd:String"/>
            <xsd:element name="url1_int2" type="xsd:int"/>
            <xsd:element name="virtualresource1_string0" type="xsd:String"/>
            <xsd:element name="virtualresource1_byte[]1" type="xsd:byte[]"/>
            <xsd:element name="virtualresource2_string0" type="xsd:String"/>
            <xsd:element name="virtualresource2_byte[]1" type="xsd:byte[]"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="loadImageRequest">
    <wsdl:part element="impl:loadImageRequest" name="loadImageRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="loadImageResponse">
    <wsdl:part element="impl:loadImageResponse" name="loadImageResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="loadImagePort">
    <wsdl:operation name="loadImage">
      <wsdl:output message="impl:loadImageResponse" name="out"/>
      <wsdl:input message="impl:loadImageRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="loadImageService">
    <wsdlrestful:address method="get" url="http://localhost:8090"/>
  </wsdl:service>
</wsdl:definitions>
