testdata/demo/max.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_maths/Vector3/org_craft_maths_Vector3_max" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_maths/Vector3/org_craft_maths_Vector3_max">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="maxRequest">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="maxResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getX" type="xsd:float"/>
            <xsd:element name="getY" type="xsd:float"/>
            <xsd:element name="getZ" type="xsd:float"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="maxRequest">
    <wsdl:part element="impl:maxRequest" name="maxRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="maxResponse">
    <wsdl:part element="impl:maxResponse" name="maxResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="maxPort">
    <wsdl:operation name="max">
      <wsdl:output message="impl:maxResponse" name="out"/>
      <wsdl:input message="impl:maxRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="maxService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_maths/Vector3/org_craft_maths_Vector3_max"/>
  </wsdl:service>
</wsdl:definitions>
