testdata/demo/normalizeTemperature.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_world_biomes/Biomes/org_craft_world_biomes_Biomes_normalizeTemperature" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_world_biomes/Biomes/org_craft_world_biomes_Biomes_normalizeTemperature">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="normalizeTemperatureResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return_float0" type="xsd:float"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="normalizeTemperatureRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="float0" type="xsd:float"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="normalizeTemperatureRequest">
    <wsdl:part element="impl:normalizeTemperatureRequest" name="normalizeTemperatureRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="normalizeTemperatureResponse">
    <wsdl:part element="impl:normalizeTemperatureResponse" name="normalizeTemperatureResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="normalizeTemperaturePort">
    <wsdl:operation name="normalizeTemperature">
      <wsdl:output message="impl:normalizeTemperatureResponse" name="out"/>
      <wsdl:input message="impl:normalizeTemperatureRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="normalizeTemperatureService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_world_biomes/Biomes/org_craft_world_biomes_Biomes_normalizeTemperature"/>
  </wsdl:service>
</wsdl:definitions>
