testdata/demo/perlinNoise.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_maths/MathHelper/org_craft_maths_MathHelper_perlinNoise" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_maths/MathHelper/org_craft_maths_MathHelper_perlinNoise">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="perlinNoiseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return_float0" type="xsd:float"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="perlinNoiseRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="float0" type="xsd:float"/>
            <xsd:element name="long2" type="xsd:long"/>
            <xsd:element name="float1" type="xsd:float"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="perlinNoiseRequest">
    <wsdl:part element="impl:perlinNoiseRequest" name="perlinNoiseRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="perlinNoiseResponse">
    <wsdl:part element="impl:perlinNoiseResponse" name="perlinNoiseResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="perlinNoisePort">
    <wsdl:operation name="perlinNoise">
      <wsdl:output message="impl:perlinNoiseResponse" name="out"/>
      <wsdl:input message="impl:perlinNoiseRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="perlinNoiseService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_maths/MathHelper/org_craft_maths_MathHelper_perlinNoise"/>
  </wsdl:service>
</wsdl:definitions>
