testdata/demo/readString.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="readStringResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return_string0" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="readStringRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="string1" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="readStringRequest">
    <wsdl:part element="impl:readStringRequest" name="readStringRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="readStringResponse">
    <wsdl:part element="impl:readStringResponse" name="readStringResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="readStringPort">
    <wsdl:operation name="readString">
      <wsdl:output message="impl:readStringResponse" name="out"/>
      <wsdl:input message="impl:readStringRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="readStringService">
    <wsdlrestful:address method="get" url="http://localhost:8090"/>
  </wsdl:service>
</wsdl:definitions>
