testdata/demo/recolor.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_utils/ImageUtils/org_craft_utils_ImageUtils_recolor" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_utils/ImageUtils/org_craft_utils_ImageUtils_recolor">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="recolorResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getType" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="recolorRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="color1_int0" type="xsd:int"/>
            <xsd:element name="color1_int1" type="xsd:int"/>
            <xsd:element name="bufferedimage0_int1" type="xsd:int"/>
            <xsd:element name="bufferedimage0_int0" type="xsd:int"/>
            <xsd:element name="color1_int2" type="xsd:int"/>
            <xsd:element name="bufferedimage0_int2" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="recolorRequest">
    <wsdl:part element="impl:recolorRequest" name="recolorRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="recolorResponse">
    <wsdl:part element="impl:recolorResponse" name="recolorResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="recolorPort">
    <wsdl:operation name="recolor">
      <wsdl:output message="impl:recolorResponse" name="out"/>
      <wsdl:input message="impl:recolorRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="recolorService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_utils/ImageUtils/org_craft_utils_ImageUtils_recolor"/>
  </wsdl:service>
</wsdl:definitions>
