testdata/demo/registerSubs.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="registerSubsRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resourcelocation1_string0" type="xsd:String"/>
            <xsd:element name="enumsoundformats2_string0" type="xsd:String"/>
            <xsd:element name="string0" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="registerSubsResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="registerSubsRequest">
    <wsdl:part element="impl:registerSubsRequest" name="registerSubsRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="registerSubsResponse">
    <wsdl:part element="impl:registerSubsResponse" name="registerSubsResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="registerSubsPort">
    <wsdl:operation name="registerSubs">
      <wsdl:output message="impl:registerSubsResponse" name="out"/>
      <wsdl:input message="impl:registerSubsRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="registerSubsService">
    <wsdlrestful:address method="get" url="http://localhost:8090"/>
  </wsdl:service>
</wsdl:definitions>
