testdata/demo/register.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="registerResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="registerRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="biometest23_string0" type="xsd:String"/>
            <xsd:element name="biomeforest0_float1" type="xsd:float"/>
            <xsd:element name="biometest2_float1" type="xsd:float"/>
            <xsd:element name="biometest34_string0" type="xsd:String"/>
            <xsd:element name="biomemountains1_int2" type="xsd:int"/>
            <xsd:element name="block3_string0" type="xsd:String"/>
            <xsd:element name="biometest23_float1" type="xsd:float"/>
            <xsd:element name="biomeforest0_string0" type="xsd:String"/>
            <xsd:element name="biomemountains1_string0" type="xsd:String"/>
            <xsd:element name="biomemountains1_float1" type="xsd:float"/>
            <xsd:element name="biometest2_string0" type="xsd:String"/>
            <xsd:element name="biometest34_float1" type="xsd:float"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="registerRequest">
    <wsdl:part element="impl:registerRequest" name="registerRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="registerResponse">
    <wsdl:part element="impl:registerResponse" name="registerResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="registerPort">
    <wsdl:operation name="register">
      <wsdl:output message="impl:registerResponse" name="out"/>
      <wsdl:input message="impl:registerRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="registerService">
    <wsdlrestful:address method="get" url="http://localhost:8090"/>
  </wsdl:service>
</wsdl:definitions>
