testdata/demo/registerValue.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="registerValueResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="registerValueRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="enumconnexionstates1_int0" type="xsd:int"/>
            <xsd:element name="baseblockstate0_string0" type="xsd:String"/>
            <xsd:element name="enumpowerstates4_int0" type="xsd:int"/>
            <xsd:element name="baseblockstatevalue0_string0" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="registerValueRequest">
    <wsdl:part element="impl:registerValueRequest" name="registerValueRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="registerValueResponse">
    <wsdl:part element="impl:registerValueResponse" name="registerValueResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="registerValuePort">
    <wsdl:operation name="registerValue">
      <wsdl:output message="impl:registerValueResponse" name="out"/>
      <wsdl:input message="impl:registerValueRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="registerValueService">
    <wsdlrestful:address method="get" url="http://localhost:8090"/>
  </wsdl:service>
</wsdl:definitions>
