testdata/demo/removeSpacesAtStart.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_utils/StringUtils/org_craft_utils_StringUtils_removeSpacesAtStart" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_utils/StringUtils/org_craft_utils_StringUtils_removeSpacesAtStart">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="removeSpacesAtStartResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return_string0" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="removeSpacesAtStartRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="string0" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="removeSpacesAtStartRequest">
    <wsdl:part element="impl:removeSpacesAtStartRequest" name="removeSpacesAtStartRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="removeSpacesAtStartResponse">
    <wsdl:part element="impl:removeSpacesAtStartResponse" name="removeSpacesAtStartResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="removeSpacesAtStartPort">
    <wsdl:operation name="removeSpacesAtStart">
      <wsdl:output message="impl:removeSpacesAtStartResponse" name="out"/>
      <wsdl:input message="impl:removeSpacesAtStartRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="removeSpacesAtStartService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_utils/StringUtils/org_craft_utils_StringUtils_removeSpacesAtStart"/>
  </wsdl:service>
</wsdl:definitions>
