testdata/demo/resize.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_utils/ImageUtils/org_craft_utils_ImageUtils_resize" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_utils/ImageUtils/org_craft_utils_ImageUtils_resize">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="resizeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getType" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="resizeRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="int2" type="xsd:int"/>
            <xsd:element name="int1" type="xsd:int"/>
            <xsd:element name="bufferedimage0_int1" type="xsd:int"/>
            <xsd:element name="bufferedimage0_int0" type="xsd:int"/>
            <xsd:element name="bufferedimage0_int2" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="resizeRequest">
    <wsdl:part element="impl:resizeRequest" name="resizeRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="resizeResponse">
    <wsdl:part element="impl:resizeResponse" name="resizeResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="resizePort">
    <wsdl:operation name="resize">
      <wsdl:output message="impl:resizeResponse" name="out"/>
      <wsdl:input message="impl:resizeRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="resizeService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_utils/ImageUtils/org_craft_utils_ImageUtils_resize"/>
  </wsdl:service>
</wsdl:definitions>
