testdata/demo/roundToNearest.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_maths/MathHelper/org_craft_maths_MathHelper_roundToNearest" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_maths/MathHelper/org_craft_maths_MathHelper_roundToNearest">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="roundToNearestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return_double0" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="roundToNearestRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="double0" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="roundToNearestRequest">
    <wsdl:part element="impl:roundToNearestRequest" name="roundToNearestRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="roundToNearestResponse">
    <wsdl:part element="impl:roundToNearestResponse" name="roundToNearestResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="roundToNearestPort">
    <wsdl:operation name="roundToNearest">
      <wsdl:output message="impl:roundToNearestResponse" name="out"/>
      <wsdl:input message="impl:roundToNearestRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="roundToNearestService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_maths/MathHelper/org_craft_maths_MathHelper_roundToNearest"/>
  </wsdl:service>
</wsdl:definitions>
