testdata/demo/roundToNthDecimal.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_maths/MathHelper/org_craft_maths_MathHelper_roundToNthDecimal" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_maths/MathHelper/org_craft_maths_MathHelper_roundToNthDecimal">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="roundToNthDecimalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return_double0" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="roundToNthDecimalRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="int1" type="xsd:int"/>
            <xsd:element name="double0" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="roundToNthDecimalRequest">
    <wsdl:part element="impl:roundToNthDecimalRequest" name="roundToNthDecimalRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="roundToNthDecimalResponse">
    <wsdl:part element="impl:roundToNthDecimalResponse" name="roundToNthDecimalResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="roundToNthDecimalPort">
    <wsdl:operation name="roundToNthDecimal">
      <wsdl:output message="impl:roundToNthDecimalResponse" name="out"/>
      <wsdl:input message="impl:roundToNthDecimalRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="roundToNthDecimalService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_maths/MathHelper/org_craft_maths_MathHelper_roundToNthDecimal"/>
  </wsdl:service>
</wsdl:definitions>
