testdata/demo/roundToNearestMultiple.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_maths/MathHelper/org_craft_maths_MathHelper_roundToNearestMultiple" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_maths/MathHelper/org_craft_maths_MathHelper_roundToNearestMultiple">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="roundToNearestMultipleRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="double1" type="xsd:double"/>
            <xsd:element name="double0" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="roundToNearestMultipleResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return_double0" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="roundToNearestMultipleRequest">
    <wsdl:part element="impl:roundToNearestMultipleRequest" name="roundToNearestMultipleRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="roundToNearestMultipleResponse">
    <wsdl:part element="impl:roundToNearestMultipleResponse" name="roundToNearestMultipleResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="roundToNearestMultiplePort">
    <wsdl:operation name="roundToNearestMultiple">
      <wsdl:output message="impl:roundToNearestMultipleResponse" name="out"/>
      <wsdl:input message="impl:roundToNearestMultipleRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="roundToNearestMultipleService">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_maths/MathHelper/org_craft_maths_MathHelper_roundToNearestMultiple"/>
  </wsdl:service>
</wsdl:definitions>
