testdata/demo/shuffle.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="shuffleRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="long1" type="xsd:long"/>
            <xsd:element name="int[]0" type="xsd:int[]"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="shuffleResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return_int[]0" type="xsd:int[]"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="shuffleRequest">
    <wsdl:part element="impl:shuffleRequest" name="shuffleRequest" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="shuffleResponse">
    <wsdl:part element="impl:shuffleResponse" name="shuffleResponse" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="shufflePort">
    <wsdl:operation name="shuffle">
      <wsdl:output message="impl:shuffleResponse" name="out"/>
      <wsdl:input message="impl:shuffleRequest" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="shuffleService">
    <wsdlrestful:address method="get" url="http://localhost:8090"/>
  </wsdl:service>
</wsdl:definitions>
