testdata/demo/upperPowerOf2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://localhost:8090/org_craft_maths/MathHelper/org_craft_maths_MathHelper_upperPowerOf2" xmlns:wsdlrestful="http://schemas.xmlsoap.org/wsdl/restful/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8090/org_craft_maths/MathHelper/org_craft_maths_MathHelper_upperPowerOf2">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:element name="upperPowerOf2Request">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="int0" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="upperPowerOf2Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="return_int0" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="upperPowerOf2Request">
    <wsdl:part element="impl:upperPowerOf2Request" name="upperPowerOf2Request" wsdlrestful:contentType="application/json" wsdlrestful:requestType="get"/>
  </wsdl:message>
  <wsdl:message name="upperPowerOf2Response">
    <wsdl:part element="impl:upperPowerOf2Response" name="upperPowerOf2Response" wsdlrestful:contentType="application/json"/>
  </wsdl:message>
  <wsdl:portType name="upperPowerOf2Port">
    <wsdl:operation name="upperPowerOf2">
      <wsdl:output message="impl:upperPowerOf2Response" name="out"/>
      <wsdl:input message="impl:upperPowerOf2Request" name="in"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="upperPowerOf2Service">
    <wsdlrestful:address method="get" url="http://localhost:8090/org_craft_maths/MathHelper/org_craft_maths_MathHelper_upperPowerOf2"/>
  </wsdl:service>
</wsdl:definitions>
